<div class="container">
    <center>
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <div class="card-text">
                    <h1>Thanks for donation <%= name %> <%= lastname%></h1>
                </div>
            </div>
        </div>
    </center>
</div>